<button md-fab (click)="addTask()"><md-icon>add</md-icon></button>
<md-card *ngFor="let x of tasks" style="margin-bottom: 24px">
  <md-card-title contenteditable="true">Task title {{this.x.title}} [edit]</md-card-title>
  <md-card-subtitle contenteditable="true">Short subtitle {{this.x.title}} [edit]</md-card-subtitle>
  <md-card-content contenteditable="true">Task {{this.x.title}}: here type task description with all detailed information you can give to the tested person [edit]</md-card-content>
  <md-input-container style="width:100%">
    <textarea #solution mdInput mdTextareaAutosize placeholder="type your solution here" (change)="action(solution.value)"></textarea>
  </md-input-container>
  <md-card-actions>
    <button md-button color="primary" (click)="send()">Send</button>
    <button md-button color="warn" (click)="like()">Like</button>
    <button md-button color="accent" (click)="test()">Test</button>
    <button md-button (click)="clear(solution)">Clear</button>
  </md-card-actions>
</md-card>
