md-sidenav {
  width: 200px;
  border-right: 0px solid #222;
  box-shadow: 3px 0px 5px -3px rgba(38, 38, 38, 0.48);
  padding: 8px;
  a {
    display: block;
    margin-bottom: 8px;
    width: 100%;
  }
  .logout {
    position: absolute;
    width: calc(100% - 16px);
    bottom: 8px;
  }
}

.navToggle {
  margin-bottom: 24px;
}

.spacing {
  padding: 24px;
}
