/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/indigo-pink.css';

html, body, material-app, md-sidenav-container, .view {
  margin: 0;
  width: 100%;
  height: 100vh;
}
